﻿{% extends "app/layout.html" %}

{% block content %}
    #<head>
    #    <title>add_SB_UserTag</title>
    #</head>
<body>
    <h1>AutoCreate a User Tag with Remote Button</h1>
    
    Remote Button will AutoAdd User Tag to the following Game:

    <ul>
        {% for SB_Game in SB_Game %}

        <li>{{"Game ID: "}}{{SB_Game.gamenum}}{{"--- Home Team: "}}{{  SB_Game.home_team  }}{{" vs. Away Team: "}}{{SB_Game.away_team}}{{" - Game Began at: "}}{{SB_Game.game_timestamp}}{{" | Game is Ongoing - "}}{{SB_Game.in_progress}}</li>

        {% endfor %}

</ul>

    <form id="SB_UserTagForm" method="post" action="/add_SB_UserTag/">

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }} <br />
        {% endfor %}

        <input type="submit" class="btn btn-default btn-lg" name="submit" value="Add User Tag" />
    </form>
    <p><a class="btn btn-default btn-lg" href="/home">Return to the homepage &raquo;</a></p>

</body>
{% endblock %}