﻿<!DOCTYPE html>
<html>
    <head>
        <title>SkillsBoss Owner Registration</title>
    </head>
    <body>
        <h1>Welcome to Skillsboss <br />
            Create your own highlight archive by entering your information below</h1>
    
       
        <form id="SB_OwnerForm" method="post" action="/add_SB_Owner/">
        
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }} <br />
            {% endfor %}

            <input type="submit" name="submit" value="Add Owner" />
        </form>
    </body>
</html>