﻿{% extends "app/layout.html" %}

{% block content %}
    <head>
        <title>add_SB_UserTag</title>
    </head>
<body>
    <h1>Create a User Tag</h1>
    
    Click "Add User Tag" to add a tag to the following Game:

    <ul>
        {% for SB_Game in SB_Game %}

        <li>{{"Game ID: "}}{{SB_Game.gamenum}}{{"--- Home Team: "}}{{  SB_Game.home_team  }}{{" vs. Away Team: "}}{{SB_Game.away_team}}{{" - Game Began at: "}}{{SB_Game.game_timestamp}}{{" | Game is Ongoing - "}}{{SB_Game.in_progress}}</li>

        {% endfor %}

</ul>

    <form id="SB_UserTagForm" method="post" action="/add_SB_UserTag/">

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }} <br />
        {% endfor %}

        <input type="submit" class="btn btn-default btn-lg" name="submit" value="Add User Tag" />
    </form>
    <p><a class="btn btn-default btn-lg" href="/home">Return to the homepage &raquo;</a></p>

The following Tags are already submitted for this game by {% for SB_Owner in SB_Owner %} {{SB_Owner.first_name}}{{" "}} {{SB_Owner.last_name}}{% endfor %}:

    <table border="1">
        <tr>
        <td>User</td>
        <td>Tag Time</td>
        <td>Clip Link</td>
        <td>Clip Preview</td>
        </tr>

        {% for usertaglist in usertaglist %}
        <tr>
            <td>{% for SB_Owner in SB_Owner %} {{SB_Owner.first_name}}{{" "}} {{SB_Owner.last_name}}{% endfor %}</td>
            <td>{{usertaglist.recordtime_min}}{{" min : "}}{{usertaglist.recordtime_sec}}{{" sec"}}</td>
            <td>{{usertaglist.cliplink1}}</td>
            <td><a href="{{usertaglist.clip_link1}}">your link</a></td>
            <td>
                <video name='demo' controls width='50%' height='40%'>
                    <source src="{{usertaglist.clip_link1}}" type="video/mp4"></source>
                </video>
            </td>
        </tr>
        {% endfor %}

    </table>

    <div class="pagination">
        <span class="step-links">
            {% if usertaglist.has_previous %}
            <a href="?page={{ usertaglist.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ usertaglist.number }} of {{ usertaglist.paginator.num_pages }}.
            </span>

            {% if usertaglist.has_next %}
            <a href="?page={{ usertaglist.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>


</body>
{% endblock %}