﻿{% extends "app/layout.html" %}

{% block content %}
    <head>
        <title>add_SB_UserTag</title>
    </head>
    <body>
        <h1>Create a new Game</h1>
    
        <h2><form id="SB_GameForm" method="post" action="/add_SB_Game/" class="lead">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }} <br />
    {% endfor %}

    <div class="form-group">
        <div class="input-group input-group-lg">
        <input class="input_group input-group-lg" type="submit" name="submit" value="Add Game" />
        </div>
    </div>
</form>
    <p><a class="btn btn-default" href="/home">Return Home &raquo;</a></p></h2>
    </body>
{% endblock %}
