﻿{% extends "app/layout.html" %}
{% block content %}

<head><title>Game List Template</title></head>

<body>
    <h1>See Below for a list of database entries</h1>

    {% if SB_Game %}
        <ul>
            <li>A current list of Games</li>
            {% for SB_Game in SB_Game %}
                
                <li>{{"Home Team: "}}{{  SB_Game.home_team  }}{{" vs. Away Team: "}}{{SB_Game.away_team}}{{SB_Game.gamenumstr}}{{SB_Game.gamenum}}{{SB_Game.game_timestamp}}</li>
                    {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }} <br />
                {% endfor %}
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no Games's present</strong>
    {% endif %}

    <a href="">Home</a>

</body>

{% endblock %}