<html>
<head><title>Game List Template</title></head>

<body>
    <h1>See Below for a list of database entries</h1>

    {% if SB_Game %}
        <ul>
        <li>A current list of Games</li>

        {% for SB_Game in SB_Game %}

            <li>{{"Game ID: "}}{{SB_Game.gamenum}}{{"--- Home Team: "}}{{  SB_Game.home_team  }}{{" vs. Away Team: "}}{{SB_Game.away_team}}{{" - Game Began at: "}}{{SB_Game.game_timestamp}}{{" | Game is Ongoing - "}}{{SB_Game.in_progress}}</li>
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}
        {% endfor %}
        </ul>



    {% else %}

    <strong>There are no Games's present</strong>

    {% endif %}
    {% if SB_Game.count > 0 and user.is_authenticated %}
        <a href="/stop_SB_Game">Stop Game</a>
    {% endif %}
    <a href="/home">Home</a>

</body>
</html>