﻿<html>
<head><title>Owner List Template</title></head>

<body>
    <h1>See Below for a list of database entries</h1>

    {% if SB_Owner %}
        <ul>
            <li>A current list of Owners</li>
            {% for SB_Owner in SB_Owner %}
                
                <li>{{  SB_Usertag.email  }}{{ SB_Owner.last_name }}</li>
                    {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }} <br />
                {% endfor %}
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no Owner's present</strong>
    {% endif %}

    <a href="">Home</a>

</body>
</html>
