﻿{% extends "app/layout.html" %}
{% block content %}

    <head>
        <title>View_SB_UserTag</title>
    </head>
<body>
    <h1>View you User Tags</h1>

    Click "Update User Tag" to update a tag for a selected Game:
    Select "Game" to filter your tags by game

    <form id="SB_GameSelect" method="post" action="/view_SB_UserTag/" class="lead">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <input type="number" name="gamenum" value="0"
    <div class="form-group">
        <div class="input-group input-group-lg">
            <input class="input_group input-group-lg" type="submit" name="submit" value="Select Game Number" />
        </div>
    </div>

        The following Tags are already submitted for this game by {% for SB_Owner in SB_Owner %} {{SB_Owner.first_name}}{{" "}} {{SB_Owner.last_name}}{% endfor %}:
        {% for usertag in usertaglist %}
        <table border="1">
            <tr>
                <td>User</td>
                <td>Game Number</td>
                <td>Tag Time</td>
                <td>Link to Clip</td>
                <td>Tag ID</td>
            </tr>
            <tr>
                <td>{% for SB_Owner in SB_Owner %} {{SB_Owner.first_name}}{{" "}} {{SB_Owner.last_name}}{% endfor %}</td>
                <td>{{usertag.gamenum}}</td>
                <td>{{usertag.recordtime_min}}{{" min : "}}{{usertag.recordtime_sec}}{{" sec"}}</td>
                <td><a href="{{usertag.clip_link1}}">your link</a></td>
                <td>{{usertag.id}}</td>
            </tr>
        </table>

        <table border=" 1">
            <tr></tr>
            <tr>
                <td>Clip Preview</td>
            </tr>
            <tr>
                <td>
                    <video name='demo' controls width='50%' height='40%'>
                        <source src="{{usertag.clip_link1}}" type="video/mp4"></source>
                    </video>
                </td>
            </tr>
        </table>

        <table border=" 1">
            <tr></tr>
            <tr>
                <td>Clip Rating</td>
                <td>Share Clip</td>
                <td>Re-Process Clip</td>
                <td>Clip Notes</td>
            </tr>
            <tr>
                <td> {{usertag.clip_rating}} </td>
                <td> {{usertag.clip_share}} </td>
                <td> {{usertag.clip_process}} </td>
                <td> {{usertag.clip_notes}}  </td>
            </tr>
        </table>

        <h3>Update information on this Clip Below</h3>
        <table border=" 1">
            <tr></tr>
            <tr>
                <td>Clip Rating</td>
                <td>Share Clip</td>
                <td>Process Clip</td>
                <td>Clip Notes</td>
            </tr>
            <tr>
                <form id="SB_UserTagForm2" method="post" action="/view_SB_UserTag/" class="lead">

                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    <td><input type="number" name="clip_rating" value="{{usertag.clip_rating}}"</td>

                    <td>
                        <select type="text" name="clip_share" value="{{usertag.clip_share}}">
                            <option value="True">True</option>
                            <option value="False">False</option>
                            <option value="">None</option>
                        </select>
                    </td>
                    <td>
                        <select type="text" name="clip_process" value="{{usertag.clip_process}}">
                            <option value="1">True</option>
                            <option value="0">False</option>
                            <option value="">None</option>
                        </select>
                    </td>
                    <td><input type="text" name="clip_notes" value="{{usertag.clip_notes}}"</td>
                    <td><input type="hidden" name="tagid" value="{{usertag.tagid}}"</td>
            </tr>
            <tr>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <input class="input_group input-group-lg" type="submit" name="submit" value="Update Tag Information" />
                    </div>
                </div>
            </tr>
        </table>
        --------------------------------------------
        
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if usertaglist.has_previous %}
                <a href="?page={{ usertaglist.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ usertaglist.number }} of {{ usertaglist.paginator.num_pages }}.
                </span>

                {% if usertaglist.has_next %}
                <a href="?page={{ usertaglist.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        <p><a class="btn btn-default" href="/home">Return to the homepage &raquo;</a></p>
</body>

{% endblock%}