{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Use this area to provide additional information.</p>

            {% if user.is_authenticated %}
                User name is {{user.username}},
            {% else %}
                'No user is logged in',
            {% endif %}

{% endblock %}
