{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>SkillsBoss</h1>

    {% if user.is_authenticated %}
    <p class="lead">
        Welcome to SkillsBoss. Thank you for logging into the system. You are now able to
        Tag a live event and create your own highlights. Enjoy.
    </p>

     {% if user.is_authenticated %}
    <p class="lead">
    Administrator Rights Granted. You have the ability to start and stop recording events.
    </p>
    {% endif %}


    {% else %}
    <p class="lead">
        Welcome to SkillsBoss. In order to use this system you will need to create an Owner Account.
        This can be done by clicking on the link below. Once you are logged in, you will be able to
        Tag a live event and create your own highlights.
    </p>
    {% endif %}

</div>

<div class="row">

    {% if user.is_authenticated %}
    <div class="col-md-4">
        <h2>Tag an event</h2>
        <p>Click Here to Tag and Event.</p>
        <p><a class="btn btn-default" href="/add_SB_UserTag">add_SB_UserTag &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>See Current Event</h2>
        <p>Click Here to See Current Event.</p>
        <p><a class="btn btn-default" href="/add_SB_Game">Start_SB_Game &raquo;</a></p>
    </div>

    <div class="col-md-4">
    <h2>Review/Edit Clips</h2>
    <p>Click Here to review clips.</p>
    <p><a class="btn btn-default" href="/view_SB_UserTag">View Your Tags &raquo;</a></p>
    </div>

    <div class="col-md-4">
    <h2>View Clips</h2>
    <p>Click Here to Personal and shared clip by Game and Player.</p>
    <p><a class="btn btn-default" href="/view_SB_UserTag">View Your Tags &raquo;</a></p>
    </div>

    {% else %}
    <div class="col-md-4">
        <h2>Register a New Owner Account</h2>
        <p>You will need to login or create an owner account to create tags for an event.</p>
        <p><a class="btn btn-default" href="/add_SB_Owner">add_SB_Owner &raquo;</a></p>
    </div>

    {% endif %}

</div>

{% endblock %}
